<form [formGroup]="formGroup">
  <mat-form-field>
    <input
      formControlName="email"
      matInput
      type="email"
      name="email"
      placeholder="Email"
      required>
      <mat-error *ngIf="emailError?.required">Это поле обязательно</mat-error>
      <mat-error *ngIf="emailError?.email">Эллектронная почта введена не корректно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="password"
      matInput
      type="password"
      name="password"
      placeholder="Password"
      required>
      <mat-error *ngIf="passwordError?.required">Это поле обязательно</mat-error>
      <mat-error *ngIf="passwordError?.requiredLength">Минимальная длинна символов - 6</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="confrimPassword"
      matInput
      type="password"
      name="confrimPassword"
      placeholder="Confrim password"
      required>
      <mat-error *ngIf="confrimPasswordError?.required">Это поле обязательно</mat-error>
      <mat-error *ngIf="confrimPasswordError?.minLength">Минимальная длинна символов - 6</mat-error>
      <mat-error *ngIf="confrimPasswordError?.mustMatch">Пароли не совпадают</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="firstName"
      matInput
      type="text"
      name="firstname"
      placeholder="Firstname"
      required>
      <mat-error *ngIf="firstNameError?.required">Это поле обязательно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="lastName"
      matInput
      type="text"
      name="lastname"
      placeholder="Lastname"
      required>
      <mat-error *ngIf="lastNameError?.required">Это поле обязательно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="patronymic"
      matInput
      type="text"
      name="patronymic"
      placeholder="Patronymic"
      required>
      <mat-error *ngIf="patronymicError?.required">Это поле обязательно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sex</mat-label>
    <mat-select formControlName="sex"name="sex" required>
      <mat-option [value]="sex.male">Male</mat-option>
      <mat-option [value]="sex.female">Female</mat-option>
    </mat-select>
    <mat-error *ngIf="sexError?.required">Это поле обязательно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Birthday</mat-label>
    <input
      formControlName="birthday"
      [matDatepicker]="picker"
      matInput
      required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="birthdayError?.required">Это поле обязательно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="phone"
    matInput
    type="text"
    name="phone"
    placeholder="Phone"
    required>
    <mat-error *ngIf="phoneError?.required">Это поле обязательно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="country"
    matInput
    type="text"
    name="country"
    placeholder="Country"
    required>
    <mat-error *ngIf="countryError?.required">Это поле обязательно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="city"
    matInput
    type="text"
    name="city"
    placeholder="Сity"
    required>
    <mat-error *ngIf="cityError?.required">Это поле обязательно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="street"
    matInput
    type="text"
    name="street"
    placeholder="Street"
    required>
    <mat-error *ngIf="streetError?.required">Это поле обязательно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="home"
    matInput
    type="text"
    name="home"
    placeholder="Home"
    required>
    <mat-error *ngIf="homeError?.required">Это поле обязательно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="apartment"
    matInput
    type="text"
    name="apartment"
    placeholder="Apartment"
    required>
    <mat-error *ngIf="apartmentError?.required">Это поле обязательно</mat-error>
  </mat-form-field>

  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>