<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      formControlName="email"
      matInput
      type="email"
      name="email"
      placeholder="Email"
      required>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="password"
      matInput
      type="password"
      name="password"
      placeholder="Password"
      required>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="repeatPassword"
      matInput
      type="password"
      name="password"
      placeholder="Repeat assword"
      required>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="firstname"
      matInput
      type="text"
      name="firstname"
      placeholder="Firstname"
      required>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="lastname"
      matInput
      type="text"
      name="lastname"
      placeholder="Lastname"
      required>
  </mat-form-field>

  <mat-form-field>
    <input
      formControlName="patronymic"
      matInput
      type="text"
      name="patronymic"
      placeholder="Patronymic"
      required>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="patronymic"
    matInput
    type="text"
    name="patronymic"
    placeholder="Patronymic"
    required>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Sex</mat-label>
    <mat-select>
      <mat-option *ngFor="let sex of sexes" [value]="sex">
        {{ sex }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Birthday</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthday" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="phone"
    matInput
    type="text"
    name="phone"
    placeholder="Phone"
    required>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="country"
    matInput
    type="text"
    name="country"
    placeholder="Country"
    required>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="city"
    matInput
    type="text"
    name="city"
    placeholder="Сity"
    required>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="street"
    matInput
    type="text"
    name="street"
    placeholder="Street"
    required>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="home"
    matInput
    type="text"
    name="home"
    placeholder="Home"
    required>
  </mat-form-field>

  <mat-form-field>
    <input
    formControlName="apartment"
    matInput
    type="text"
    name="apartment"
    placeholder="Apartment"
    required>
  </mat-form-field>

  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>